* {
    font-family: Raleway;
}

.scroll {
    overflow: scroll;
    position: relative;
}

body {
    background-color: black;
}

i {
   background-color: skyblue;
   width: 100%;
   height: 20px;
   vertical-align: middle;
   
}

.bg-card {
    background-color: skyblue;
    color: white;
}

.img-card {
    width: 100%;
    height: 100%;
   
}

.card-text {
    text-align: left;
}

footer {
    background-color: skyblue;
}

footer i {
    align-items: end;
}